
ul#avmenu {
margin: 35px 0;
padding: 0;
font: 12px Verdana;
list-style-type: none;
}
  
ul#avmenu li {
display: inline;
}

md-default-theme.btn1 {
 background-color: rgba(255, 222, 121, 0.96);
}
  
html {
    height: 100%;
}

body {
    background-color: #ffffff;
}

md-list.scroll{
height:100px;
}

header md-toolbar {
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

footer {
    padding: 16px;
}

div .paramList {
 max-height:800px;
  overflow-x: auto;
  overflow-y: auto;
}

md-content#main.md-blue-theme {
    background-color: #ececec;
}
p.param md-item{
background-color:rgba(255,2,3,33.5);
}

md-item .string{
	background: #b9f6ca;
}

md-item .double{
	background: #ff8a80;
}

md-item .int{
	background: #b9f6ca;
}

md-item .date{
	background: #84ffff;
}

md-card {
    background-color: #ffffff;
    cursor: pointer;
}

.collapsed-row span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.animate-enter {
    -webkit-transition: 1s linear all; /* Chrome */
    transition: 1s linear all;
    opacity: 0;
}

.animate-enter.animate-enter-active {
    opacity: 1;
}

.round-face {
    border-radius: 30px;
    border: 1px solid #ddd;
    width: 48px;
    height: 48px;
    margin: 8px;
}

#mainFab {
    position: fixed;
    right: 2%;
    bottom: 24px;
    background-color: #db4437;
}

#mainFab svg {
    fill: white;
}

#fab-popup {
    height: 260px;
    position: fixed;
    right: 2%;
    bottom: 90px;
}

#main {
    width: 100%;
}

#content {
    min-width: 70%;
    max-width: 1080px;
}

.animate-if {
    background:white;
    border:1px solid black;
    padding:10px;
}

.animate-if.ng-enter, .animate-if.ng-leave {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
    opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
    opacity:1;
}