<div ng-controller="LineChartCtrl">
<h3>Create a line chart</h3>
</br>
</br>
<md-list data-drop="true" ng-model="yParamList" jqyoui-droppable="{multiple:true, stack:false, beforeDrop:'beforeDropY()'}">

	<md-item ng-repeat="param in yParamList track by $index"
			data-drag="false" 
			data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" 
			ng-model="yParamList" 
			ng-show="param[0]"
			jqyoui-draggable="{index: {{$index}}, animate:true}">{{param[0]}}
	</md-item>
	<md-item ng-hide="hideMeY()" style="color:gray">Drag Y parameter here</md-item>
</md-list>
</div>