<div ng-app="chartApp" ng-controller="ChartCtrl">
	<h1>Parameters</h1>
	<!--<p class="param">--> 
	<!--<md-list layout="column" >-->
	<!--<md-item >-->
	<div>    
		<md-input-container >    
			<label for="">Filter parameters</label> 
			<input  ng-model="searchText" />
		</md-input-container>
	</div> 
	<div class="paramList"> 
		<md-list role="list"> 
			<md-content
					ng-repeat="param in parameterList | filter:searchText"
					ng-class="{'int':parameterList[index][1] == 0, 
					'double':param[1] == 1, 'string':param[1] == 2,
					'date':param[1] == 3}"
					data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="parameterList" jqyoui-draggable="{index: {{$index}}, animate:true, placeholder: 'keep', onDrag:'startDrag(param)'}">{{param[0]}}
			</md-content>
			<!--</md-item>--> 
		</md-list>
	</div>   
    
	<!--</p>-->
</br>
</br>

<ul id="avmenu">
	<li>
		<md-button class="md-raised md-primary md-button md-default-theme" ng-click="scatterChartClick()"> Scatter</md-button>
	</li>
	<li>
		<md-button class="md-raised md-primary md-button md-default-theme" ng-click="lineChartClick()">Line</md-button>
	</li>
	<!--
	<li><md-button class="md-raised md-primary md-button md-default-theme" ng-click="myChartClick()">Bar</md-button></li>
	<li><md-button class="md-raised md-primary md-button md-default-theme" ng-click="myChartClick()">Anova</md-button></li>
	<li><md-button class="md-raised md-primary md-button md-default-theme" ng-click="myChartClick()">Process</md-button></li>
	-->
</ul>   
<div id="chartControlTarget">        
  
	<div>X    </div>
	<md-list data-drop="true" ng-model="xParamList" jqyoui-droppable="{multiple:true, stack:false, beforeDrop:'beforeDropX()'}">

		<md-item  ng-repeat="param in xParamList track by $index"
				data-drag="true" 
				data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" 
				ng-model="xParamList" 
				ng-show="param[0]"
				jqyoui-draggable="{index: {{$index}}, animate:true}">{{param[0]}}
		</md-item>
		<md-item ng-hide="hideMeX()" style="color:gray">Drag X parameter here</md-item>
	</md-list>  
</br>   
 
<div>Y   </div> 
<md-list data-drop="true" ng-model="yParamList" jqyoui-droppable="{multiple:true, stack:false, beforeDrop:'beforeDropY()'}">

	<md-item ng-repeat="param in yParamList track by $index"
			data-drag="false" 
			data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" 
			ng-model="yParamList" 
			ng-show="param[0]"
			jqyoui-draggable="{index: {{$index}}, animate:true}">{{param[0]}}
	</md-item>
	<md-item ng-hide="hideMeY()" style="color:gray">Drag Y parameter here</md-item>
</md-list>
</br>
<md-button ng-click="chartClick()"> Scope test</md-button>
<md-button ng-click="myChartClick()">Chart
</md-button>
</div>
 
</br>  
   

<div id="chart" class="header">
	<rickshaw-chart 
			data="data"
			color="red"
			renderer="renderer"
			width="750"
			height="450">
	</rickshaw-chart>
<div id="chart"></div>
</div> 



</div>
