<div ng-app="datasetApp" ng-controller="DatasetCtrl">
<h1>Datasets</h1>
	<md-list layout="column" >
		<md-item data-drag="true" jqyoui-draggable ng-repeat="dataset in datasetList">
			<!--<md-button ng-click="myClick(dataset)" >{{dataset.name}}
            </md-button>-->
			<!---->
			
			<md-button ng-click="myClick(dataset)" >{{dataset.name}}
            </md-button>
        </md-item>
	</md-list>
</div>

