<div ng-app="loginApp" ng-controller="LoginCtrl as login">
	
	<img src="images/logo.png" width=100px height=100px>
	<form ng-submit="login.login()">
	<md-input-container >
	   <label for="">Username </label> 
	   <input  ng-model="login.username" ></input>
	</md-input-container>
	<md-input-container >
	<label for="">Password </label> 
	   <input type="password" ng-model="login.password"></input>
	   </md-input-container>
	<md-button class="md-raised md-primary"  ng-click="login.login()">Login</md-button>
	</form>
	
	
</div>