

<div class="header">
      <h3 class="text-muted">UFO sightings in 2008</h3>

      <rickshaw-chart
        data="sightingsByDate"
        color="blue"
        renderer="renderer"
        width="750"
        height="450"
      ></rickshaw-chart>
    </div>
